<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Venue Details | COVID-19 Contact Tracing</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/675dd24524.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/javascripts/redirect-venue-owner.js"></script>
    <script src="/javascripts/venue-details.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
<body>
    <nav>
        <script src="/javascripts/navigation.js"></script>
    </nav>
    <header>
        <script src="/javascripts/header.js"></script>
    </header>
    <div class='flex'>
        <main id="app">
             <h1>Venue Details</h1>
                <form class="pure-form pure-g details-form">
                <div class="pure-u-1">
                    <div class="grid-pad">
                        <label for="venue-name">Venue Name</label>
                        <input id="venue-name" name="venue-name" type="text" class="full-width" v-model="venue.name" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-4">
                    <div class="grid-pad">
                        <label for="street-no">Street Number</label>
                        <input id="street-no" name="street-no" type="text" class="full-width" v-model="venue.streetNo" />
                    </div>
                </div>

                <div class="pure-u-1 pure-u-md-3-4" >
                    <div class="grid-pad">
                        <label for="street-name">Street Name</label>
                        <input id="street-name" name="street-name" type="text" class="full-width" v-model="venue.streetName" />
                     </div>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="grid-pad">
                        <label for="city">Town/City</label>
                        <input id="city" name="city" type="text" class="full-width" v-model="venue.city" />
                    </div>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="grid-pad">
                        <label for="postcode">Postcode</label>
                        <input id="postcode" name="postcode" type="number" class="full-width" v-model="venue.postcode" />
                    </div>
                </div>



                <div class="pure-u-1">
                    <div class="grid-pad">
                        <button class="pure-button pure-button-primary right">Apply Changes</button>
                        <button class="pure-button right">Revert</button>
                    </div>
                </div>
            </form>
        </main>
        <footer>
            <script src="javascripts/footer.js"></script>
        </footer>
    </div>
</body>
</html>